<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="scoreboard">
    <h1>Create Quiz</h1>
    <form method="POST" action="/create">
      <div>
          <label>Title of the Quiz:</label>
          <input type="text" name="quiz_title">
      </div>
      <% for(let i = 1; i <= 2; i++) { %>
        <label>Question <%= i %><%= i %></label>
        <input type="text" name="question_<%= i %><%= i %>" placeholder="Enter Question">
        <% for(let j = 1; j <= 4; j++) { %>
        <input type="hidden" name="cb_<%= i %><%= j %>" value="0">
        <input type="checkbox" name="cb_<%= i %><%= j %>">
        <input type="text" name="as_<%= i %><%= j %>">
      <% }
    } %>
      <button type="submit" class="Create">Create</button>
    </form>
    </div>
</body>

</html>
