<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/userQuiz.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <div class="userQuizContainer">
    <h1><%= quizName% ></h1>
    <ol>
      <%= for (const question of questions) { %>
        <article class="eachUserQuestionContainer">
          <div class="userQuestionContainer">
            <li><%= question %></li>
          </div>
          <div class="userAnswerContainer">
          <%= for (const answer of answers) { %>
            <ol>
              <li><button class="userAnswer">Ans 1</button></li>
              <li><button class="userAnswer">Ans 2</button></li>
              <li><button class="userAnswer">Ans 3</button></li>
              <li><button class="userAnswer">Ans 4</button></li>
            </ol>
            <% } %>
          </div>
        </article>
      <% }; %>
    </ol>
        <form action="" method="">
          <div id="userResult"></div>
          <button id="userSubmitButton" type="Submit">Submit</button>
        </form>
  </div>
</body>
</html>
