<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
    <h1><%= quizName% ></h1>
    <%= for (const question of questions) { %>
    <span class="question"><%= question %></span>
        <%= for (const answer of answers) { %>
        <button class="answer">Ans 1</button>
        <button class="answer">Ans 2</button>
        <button class="answer">Ans 3</button>
        <button class="answer">Ans 4</button>
    <%= }
    };%>
    <button type="Submit">Submit</button>
</body>
</html>
